* {
    font-family: 'Roboto', sans-serif;
}
body {  
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.top-section {  
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    color: #f9faf8;
}
.logo {
    display: flex;

    flex: 1;

}
.header-container {
    display: flex;
    justify-content: center;
    max-height: 40px;
    padding: 15px;

    background: #1f2937;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 10px;



}

a {
    list-style-type: none;
    color: inherit;
    text-decoration: none;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    min-height: 50px;
    color: #f9faf8;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background: #1f2937;
    gap: 40px;
}

.hero-image-container {
    display: flex;
}

#hero-image {
    max-width: 300px;
    max-height: 600px;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
}
button {
    font-weight: 900;
    border: none;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 8px
}