body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
}


#welcomeimage {
    display: flex;
    flex: 0;
    max-height: 300px;
    min-width: 30%;
    padding: 100px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
    

}
.logosec {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #1F2937;
    color: white;
    flex: 1;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color: white;
    height: 50%;

    
}
button {
    display: flex;
}
section {   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #1F2937;
    color: white;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navlinks {
    display: flex;
    gap: 20px;
}
image-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: white;
    max-height: 50px;
    align-self: stretch;
}
cta-container {
    display: flex;
    flex: 1;
    justify-content: center;   
    align-items: center;
    gap: 20px;
}